.max-h{
    height: 250px;
    width: 100%;
}

.bg-light-dark{
    background-color: rgba(0, 0, 0, 0.474);
}

.carousel-caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 1.25rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}

.bg-image{
    background-image: linear-gradient(to bottom, white, rgba(110, 201, 240, 0.267));
}

.ellipsis__text{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width: 576px) {
    .max-h{
        height: 300px;
    }
}

@media (min-width: 776px){
    .bg-image{
        background-image: linear-gradient(to right, white, rgba(110, 201, 240, 0.267));
    }
}

@media (min-width: 992px) {
    .max-h{
        height: 500px;
    }
}