.max-h{
    height: 250px;
    width: 100%;
}
.course-img{
    width: 100%;
    height: 250px;
}

.bg-light-dark{
    background-color: rgba(0, 0, 0, 0.474);
}

.carousel-caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    bottom: 1.25rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}

.bg-image{
    background-image: linear-gradient(to bottom, white, rgba(110, 201, 240, 0.267));
}

@media (min-width: 576px) {
    .max-h{
        height: 300px;
    }

    .course-img{
        width: 350px;
        height: auto;
    }
}

@media (min-width: 776px){
    .bg-image{
        background-image: linear-gradient(to right, white, rgba(110, 201, 240, 0.267));
    }
}

@media (min-width: 992px) {
    .max-h{
        height: 500px;
    }
}